<div class="tygh-content clearfix">   
    <div class="">
        <div class="">
            <div class="">
                <p>
                    Welcome to Coriolan
                </p>
            </div>
            <h1>Congratulations</h1>
            <p>

                You’ll now be the first to hear about our latest product launches, exciting events and legendary sales, 
                plus news from your local restaurant. In the meantime, why not check out our latest tempting arrivals?

            </p>
            <hr>
        </div>
    </div>
    <main class="">

        <div class="">

            <ul  class="">
                <li>
                    <h2><br class="">The biggest <br class="d">names</h2>
                    <a href="//www.harveynichols.com/womens-all-clothing?utm_source=crm&amp;utm_medium=signup&amp;utm_campaign=140201&amp;_$ja=tsid:41418|cgn:signup|kw:140201">
                        <img src="img/shop-womenswear.png" alt="">
                        <span>Shop womenswear</span>
                    </a>
                </li>
                <li>
                    <h2><br class="">The essential <br class="">styles</h2>
                    <a href="//www.harveynichols.com/mens-all-clothing?utm_source=crm&amp;utm_medium=signup&amp;utm_campaign=140201&amp;_$ja=tsid:41418|cgn:signup|kw:140201">
                        <img src="img/shop-menswear.png" alt="">
                        <span>Shop menswear</span>
                    </a>
                </li>
                <li>
                    <h2>The <br class="">groundbreaking <br>formulas</h2>
                    <a href="//www.harveynichols.com/beauty-all-fragrances?utm_source=crm&amp;utm_medium=signup&amp;utm_campaign=140201&amp;_$ja=tsid:41418|cgn:signup|kw:140201">
                        <img src="img/shop-beauty.png" alt="">
                        <span>Shop beauty</span>
                    </a>
                </li>
                <li class="">
                    <h2>The <br class="">most <br class="">delectable <br class="">delicacies</h2>
                    <a href="//www.harveynichols.com/food-and-drink-all-food?utm_source=crm&amp;utm_medium=signup&amp;utm_campaign=140201&amp;_$ja=tsid:41418|cgn:signup|kw:140201">
                        <img src="img/shop-food-wine.png" alt="">
                        <span>Shop food &amp; wine</span>
                    </a>
                </li>
            </ul>

            <hr class="">

        </div> <!-- /.page-inner -->

    </main>
</div>